* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_177 {
  width: 500px;
  height: 500px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_178 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 115px;
  left: 146px;
  font-family: Nunito Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v7_179 {
  width: 159px;
  height: 59px;
  background: linear-gradient(rgba(217,217,217,1), rgba(255,0,0,1));
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 195px;
  overflow: hidden;
}
.v7_181 {
  width: 32px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 86px;
}
